@import "sanitize.css/sanitize";
@import './reset.scss';
@import "./utility.scss";
@import './typography.scss';
@import './components.scss';
@import './variables.scss';
@import './mixins.scss';
@import './classless.scss';

// Template:

.template {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Game_of_life_glider_gun.svg/1920px-Game_of_life_glider_gun.svg.png');
    // background-color: lightblue;
    background-repeat: no-repeat;
    background-size: contain;
    width: 760px;
    height: 250px;
    opacity: 0.1;
    z-index: -10;
    top: 155px;
    left: 25%;
    position: fixed;
}

.memoir {
    background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.2)), url("https://static01.nyt.com/images/2020/04/18/obituaries/14Conway1/merlin_171560415_a372e14d-1b58-4837-bc68-e474efc320a0-jumbo.jpg?quality=90&auto=webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}