$color: rgb(108, 108, 212);
$maxWidth: 1000px;


$test: rgba(0, 255, 242, 0.527);
$primary: dodgerblue;
$secondary: #bf5bf8;
$white: white;
$light: whitesmoke;
$grey: silver;
$darkgrey: #303030;
$black: black;

$value: 100; // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone